<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOSCA</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
</head>
<body >
  <div ng-app="das" ng-init="count=1;jml=1;baju=100000;total=baju;sepatu=210000;total1=sepatu" ng-controller="myctrl">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
                <button class="navbar-toggler d-inline-block align-top" type="button" data-toggle="collapse" data-target="#dropdown-menu" aria-controls="dropdown-menu" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <div class="dropdown-menu" id="dropdown-menu" >
                    <div class="card justify-content-center text-center bg-transparent border-0 " style="width: 18rem;height: 25rem;">
                        <img src="assets/img/admin.png" class="card-img-top mr-auto ml-auto mt-3 w-50" alt="...">
                        <div class="card-body ">
                          <h5 class="card-title ">admin</h5>
                          <p class="card-text">Online</p>
                          <a href="index.html" class="btn btn-danger my-5 p-2">LogOut</a>
                        </div>
                      </div>
                  </div>
                  
                <a class="navbar-brand " href="admin.html">TOSCA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active slo">
                      <a class="slo nav-link " href="#">
                        <img src="assets/img/shopping-cart.png" alt="" width="30px" height="25px"> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li> 
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-md-1" align="center">
                    <img src="assets/img/shopping-cart.png" alt="" width="70px" height="70px">
                </div>
                <div class="col-md-11">
                    <h1>MY CHART</h1>
                 </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs col-sm gaib">
                        <div class=" card chartcard mb-3 bayangan " style="width:auto;">
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="assets/img/kaos-deus.jpg" class="card-img ml-3 mt-3 baju" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body ml-3">
                                      <h2 class="card-title">Tshirt Deus Ex Machina</h2>
                                      <h4 class="card-title">Rp. 100.000</h4>
                                      <p class="card-text"><small class="text-muted">Tshirt Deus Ex Machina</small></p>
                                      <div class="row ml-auto">
                                      <p class="card-text strike" >
                                            Rp. 150.000
                                      </p>
                                      <p class="card-text ">
                                           -> Rp. 100.000
                                      </p>
                                      <button class="btn btn-primary" data-toggle="modal" data-target="#p1">Detail</button>
                                      <div class="modal fade" id="p1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Detail Produk</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <div class="row">
                                                  <div class="col-md-6">
                                                      <img src="assets/img/kaos-deus.jpg" class="card-img mr-auto ml" alt="...">
                                                  </div>
                                                  <div class="col-md-6">
                                                    <table class="table table-borderless ">
                                                      <tr>
                                                        <th>Nama Produk</th>
                                                        <td>Barang</td>
                                                      </tr>
                                                      <tr>
                                                        <th>Merk/Type</th>
                                                        <td>DEUS</td>
                                                      </tr>
                                                      <tr>
                                                        <th>Harga </th>
                                                        <td>Rp. 100.000</td>
                                                        
                                                      </tr>
                                                      
                                                    </table>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="modal-footer"> 
                                             
                                              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="btn btn-sm btn-primary "  >
                                                  <img src="assets/img/twitter.png" style="width: 25%;height: 24%;">
                                                Tweet</a>
                                                <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId" width="87" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" ></iframe>
                                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Kembali</button>
                                                
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      
                                    </div>
                                      <select class="form-crrl"  >
                                            <option >COLOR</option>
                                              <option >HITAM</option>
                                              <option >PUTIH</option>
                                              <option >MERAH</option>
                                              <option >COKLAT</option>
                                              <option >BIRU</option>
                                   </select>
                                   <p>JUMLAH</p>
                                   
                                        <button ng-click="count=count-1;total=baju*count;">-</button>
                                        {{count}}
                                    
                                        <button ng-click="count=count+1;total=baju*count">+</button>
                                        <div class="row ml-auto ">
                                        <h6 >TOTAL  :</h6><p>Rp. </p>{{total}}</div>
                                        <script type="text/javascript">
                                        
                                            var app = angular.module("das",[]);
                                            app.controller('myctrl',function($scope) {
                                            });
                                            
                                            
                                        </script>
                                    
                                        
                                    
                                </div>
                                  </div>
                                </div>
                 </div>
                </div>
                <div class="col-xs col-sm gaib">
                    <div class="card mb-3 bayangan chartcard" style="width:auto; ">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="assets/img/sepatu-neck-premium.png" class="card-img ml-3 mt-3 baju" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body ml-3">
                                  <h4 class="card-title">SEPATU NIKE IMPORT</h4>
                                  <h4 class="card-title">Rp. 210.000</h4>
                                  <p class="card-text"><small class="text-muted">SEPATU NIKE ZOOM 5 PREMIUM IMPORT</small></p>
                                  <div class="row ml-auto">
                                  <p class="card-text strike" >
                                        Rp. 250.000
                                  </p>
                                  <p class="card-text ">
                                       -> Rp. 210.000
                                  </p>
                                  <button class="btn btn-primary" data-toggle="modal" data-target="#p2">Detail</button>
                                  <div class="modal fade" id="p2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Detail Produk</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="row">
                                            <div class="col-md-6">
                                                <img src="assets/img/sepatu/nike-sport.png" class="card-img mr-auto ml" alt="...">
                                            </div>
                                            <div class="col-md-6">
                                              <table class="table table-borderless ">
                                                <tr>
                                                  <th>Nama Produk</th>
                                                  <td>Barang</td>
                                                </tr>
                                                <tr>
                                                  <th>Merk/Type</th>
                                                  <td>NIKE SPORT</td>
                                                </tr>
                                                <tr>
                                                  <th>Harga </th>
                                                  <td>Rp. 210.000</td>
                                                  
                                                </tr>
                                                
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer"> 
                                       
                                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="btn btn-sm btn-primary "  >
                                            <img src="assets/img/twitter.png" style="width: 25%;height: 24%;">
                                          Tweet</a>
                                          <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=large&width=87&height=28&appId" width="87" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" ></iframe>
                                          <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Kembali</button>
                                          
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                                  <select class="form-crrl"  >
                                        <option >COLOR</option>
                                          <option >HITAM</option>
                                          <option >PUTIH</option>
                                          <option >MERAH</option>
                                          <option >COKLAT</option>
                                          <option >BIRU</option>
                               </select>
                               <p>JUMLAH</p>
                               
                                    <button ng-click="jml=jml-1;total1=sepatu*jml;">-</button>
                                    {{jml}}
                                
                                    <button ng-click="jml=jml+1;total1=sepatu*jml">+</button>
                                    <div class="row ml-auto ">
                                    <h6 >TOTAL  :</h6><p>Rp. </p>{{total1}}</div>
                                    <script type="text/javascript">
                                    
                                        var app = angular.module("das",[]);
                                        app.controller('myctrl',function($scope) {
                                        });
                                        
                                        
                                    </script>
                                
                                    
                                
                            </div>
                              </div>
                            </div>
             </div>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="form-group col-md-4">
                <label for="inputState"></label>
                <select id="inputState" class="form-control">
                  <option selected >PENGIRIMAN</option>
                  <option> <p>JNE</p></option>
                  <option> <p>JNT</p></option>
                  <option> <p>TIKI</p></option>
                  <option> <p>POS</p></option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="card border-info mb-3 text-center" style="height: auto;">
                    <div class="card-header">TOTAL</div>
                    <div class="card-body text-info">
                      <h5 class="card-title">Total semua belanja anda adalah</h5>
                      <h1>{{total+total1}}</h1>
                      <button class="btn btn-primary " data-toggle="modal" data-target="#exampleModalScrollable">CHECHOUT</button>
                     

  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">ISI DATA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <h6 class="form-text text-muted">Nominal Transfer</h6>{{total+total1}}
                <small class="form-text text-muted">No.rek 300976399271 a/n Tosca Extraordinary</small>
                <div class="form-group">
                    <label for="formGroupExampleInput">Nama Penerima</label>
                    <input type="text" class="form-control" id="nama" >
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">No Phone</label>
                    <input type="text" class="form-control" id="nomor" placeholder="08123456789">
                  </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Alamat</label>
                    <textarea class="form-control" id="alamat" rows="3"></textarea>
                  </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">yakin data benar</label>
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="pesan" >Simpan</button>
         
        </div>
      </div>
    </div>
  </div>
                    </div>
                  </div>
                </div>
        </div>
       

    <div class="footer" align='center'>
        @Tosca Extraordinary ©2019
    </div>
  </div>
  <script>
      
      $(document).ready(function(){ 
            $('#pesan').click(function(){
            var nama = $('#nama').val();
            var email = $('#email').val(); 
             if(email == "" && email == ""){
               alert('Data Salah !!');  
                
            }else{
            
            alert("Terima Kasih bpk/ibu  " + nama+" telah berbelanja di TOSKA ,selengkapnya di infokan di email anda:"+email);
            }  
            });
  
            //     alert("Email dan password tidak ditemukan");
            // }
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>